@import "tailwindcss";

@theme {
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

@variant dark (&:where(.dark, .dark *));

@layer base {
  :root {
    color-scheme: light;
  }
  
  html.dark {
    color-scheme: dark;
  }
}
